.klasa {
  font-size: 10px;
  font-weight: normal;
  background-color: yellow;
  width: 1000px;
  height: 300px;
  text-align: center;
  border: solid 2px purple;
  margin: auto;
  border-radius: 50px;
}
