* {
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
}
h4 {
  font-size: 22px;
}
p {
  color: grey;
}
.mapa {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  filter: grayscale(150);
}
.levo {
  padding: 20px;
  padding-top: 50px;
  position: absolute;
  right: 40px;
  width: 35%;
  height: 550px;
  top: 15px;
  margin: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
input {
  border: 1px rgb(223, 220, 220) solid;
  height: 40px;
  padding: 10px;
}
#poruka {
  height: 100px;
}
button {
  height: 50px;
  margin-top: 20px;
  background-color: rgba(99, 102, 241);
  color: white;
  border-radius: 5%;
  cursor: pointer;
}
